# Port the service will run on
PORT=3000

# MongoDB connection string (adjust if using a different host/port)
MONGO_URI=mongodb://localhost:27017

# Path to the authentication service, change if using a different host/port
AUTH_SERVICE_URL=http://localhost:3001